#map {
	height: 100vh;
	width: 100%;
}

.left-panel {
	position: absolute;
	bottom: 30vh;
	height: 50vh;
	padding: 0 5px;
	background-color: #1b1b1b;
	z-index: 1000;
}
.left-panel ul {
	padding-top: 15px;

}

.left-panel ul li{
	line-height: 50px;
	list-style: none;
}

.left-panel ul li a{
	display: block;
	height: 60px;
	padding: 0 10px;
	text-decoration: none;
}

.right-panel {
	position: absolute;
	right: 0px;
	bottom: 30vh;
	height: 50vh;
	width: 200px;
	padding: 0 5px;
	background-color: #1b1b1b;
	z-index: 1000;
}

.right-panel ul {
	padding-top: 5px;
	}

.right-panel ul li{
	line-height: 20px;
	list-style: none;
}

.right-panel ul li a{
	display: block;
	height: 50px;
	padding: 0 10px;
	text-decoration: none;
}

.top-panel{
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	background-color: white;
	font-size: large;
	text-align: center;
}
.bottom-panel{
	position:fixed;
	bottom:0;
	left: 0;
	width:100%;
	background-color: white;
	font-size: large;
	text-align: center;
}
