#map {
	height: 100vh;
	width: 100%;
}
input[id = "L_menuicon"]{
	display:none;
}
input[id = "L_menuicon"]+label{
	display:block;
	width:30px;
	height:20px;
	position:fixed;
	left:1%;
	top:15%;
	cursor:pointer;
	z-index: 1;
}
input[id = "L_menuicon"] + label span{
	display:block;
	position:absolute;
	width:100%;
	height:3px;
	border-radius:30px;
	background:#000;
	transition:all .35s;
}
input[id = "L_menuicon"] + label span:nth-child(1){
	top:0;
}
input[id = "L_menuicon"] + label span:nth-child(2){
	top:50%;
	transform:translateY(-50%);
}
input[id = "L_menuicon"] + label span:nth-child(3){
	bottom:0;
}
input[id = "L_menuicon"]:checked +label {z-index: 2;}
input[id = "L_menuicon"]:checked + label span:nth-child(1){
	top:50%;
	transform:translateY(-50%) rotate(45deg);
}
input[id="L_menuicon"]:checked + label span:nth-child(2){
	opacity:0;
}
input[id = "L_menuicon"]:checked + label span:nth-child(3){
	bottom:50%;
	transform:translateY(50%) rotate(-45deg);
}

.left-panel {
	position: absolute;
	bottom: 30vh;
	height: 50vh;
	padding: 0 5px;
	left:-200px;
	background-color: #1b1b1b;
	z-index: 1000;
	transition:all .35s;
}
.left-panel ul {
	padding-top: 15px;

}

.left-panel ul li{
	line-height: 50px;
	list-style: none;
}

.left-panel ul li a{
	display: block;
	height: 60px;
	padding: 0 10px;
	text-decoration: none;
}

input[id="L_menuicon"]:checked + label + div{
	left:0;
	}

.right-panel {
	position: fixed;
	bottom: 30vh;
	height: 50vh;;
	padding: 0 5px;
	right: -220px;
	background-color: #1b1b1b;
	z-index: 1000;
	transition:all .35s;
}

.right-panel ul {
	padding-top: 5px;
	}

.right-panel ul li{
	line-height: 20px;
	list-style: none;
}

.right-panel ul li a{
	display: block;
	height: 50px;
	padding: 0 10px;
	text-decoration: none;
}
input[id="L_menuicon"]:checked + label + div + div{
	right:0;
	}

.top-panel{
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	background-color: white;
	font-size: large;
	text-align: center;
}
.bottom-panel{
	position:fixed;
	bottom:0;
	left: 0;
	width:100%;
	background-color: white;
	font-size: large;
	text-align: center;
}
.myBtn {
	color:	rgb(49, 115, 171);
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
  .modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
  }

  /* The Close Button */
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }

  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }
  .slidecontainer {
	width: 100%; /* Width of the outside container */
  }

  /* The slider itself */
  .slider {
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	width: 100%; /* Full-width */
	height: 25px; /* Specified height */
	background: #d3d3d3; /* Grey background */
	outline: none; /* Remove outline */
	opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s;
  }

  /* Mouse-over effects */
  .slider:hover {
	opacity: 1; /* Fully shown on mouse-over */
  }

  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	width: 25px; /* Set a specific slider handle width */
	height: 25px; /* Slider handle height */
	background: #3a19f3; /* Green background */
	cursor: pointer; /* Cursor on hover */
  }

  .slider::-moz-range-thumb {
	width: 25px; /* Set a specific slider handle width */
	height: 25px; /* Slider handle height */
	background: #3a19f3; /* Green background */
	cursor: pointer; /* Cursor on hover */
  }

  .search input[type=textbox] {
	padding: 6px;
	font-size: 17px;
	width:92%;
	border: none;
  }
  .search button {
	padding: 6px 10px;
	background: #ddd;
	width:7.77%;
	font-size: 17px;
	border: none;
	cursor: pointer;
  }

	#hotel-panel {
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}

#hotel-panel select,
#hotel-panel input {
  font-size: 15px;
}

#hotel-panel select {
  width: 100%;
}

#hotel-panel i {
  font-size: 12px;
}

#hotel-panel {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  right: 5px;
  top: 60%;
  margin-top: -195px;
  height: 330px;
  width: 200px;
  padding: 5px;
  z-index: 5;
  border: 1px solid #999;
  background: #fff;
}

h2 {
  font-size: 22px;
  margin: 0 0 5px 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 271px;
  width: 200px;
  overflow-y: scroll;
}

li {
  background-color: #f1f1f1;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

li:nth-child(odd) {
  background-color: #fcfcfc;
}

#more {
  width: 100%;
  margin: 5px 0 0 0;
}
