#map {
	height: 100vh;
	width: 100%;
}
input[id = "L_menuicon"]{
	display:none;
}
input[id = "L_menuicon"]+label{
	display:block;
	width:30px;
	height:20px;
	position:fixed;
	left:1%;
	top:15%;
	cursor:pointer;
	z-index: 1;
}
input[id = "L_menuicon"] + label span{
	display:block;
	position:absolute;
	width:100%;
	height:3px;
	border-radius:30px;
	background:#000;
	transition:all .35s;
}
input[id = "L_menuicon"] + label span:nth-child(1){
	top:0;
}
input[id = "L_menuicon"] + label span:nth-child(2){
	top:50%;
	transform:translateY(-50%);
}
input[id = "L_menuicon"] + label span:nth-child(3){
	bottom:0;
}
input[id = "L_menuicon"]:checked +label {z-index: 2;}
input[id = "L_menuicon"]:checked + label span:nth-child(1){
	top:50%;
	transform:translateY(-50%) rotate(45deg);
}
input[id="L_menuicon"]:checked + label span:nth-child(2){
	opacity:0;
}
input[id = "L_menuicon"]:checked + label span:nth-child(3){
	bottom:50%;
	transform:translateY(50%) rotate(-45deg);
}

.left-panel {
	position: absolute;
	bottom: 30vh;
	height: 50vh;
	padding: 0 5px;
	left:-200px;
	background-color: #1b1b1b;
	z-index: 1000;
	transition:all .35s;
}
.left-panel ul {
	padding-top: 15px;

}

.left-panel ul li{
	line-height: 50px;
	list-style: none;
}

.left-panel ul li a{
	display: block;
	height: 60px;
	padding: 0 10px;
	text-decoration: none;
}

input[id="L_menuicon"]:checked + label + div{
	left:0;
	}

.right-panel {
	position: fixed;
	bottom: 30vh;
	height: 50vh;;
	padding: 0 5px;
	right: -220px;
	background-color: #1b1b1b;
	z-index: 1000;
	transition:all .35s;
}

.right-panel ul {
	padding-top: 5px;
	}

.right-panel ul li{
	line-height: 20px;
	list-style: none;
}

.right-panel ul li a{
	display: block;
	height: 50px;
	padding: 0 10px;
	text-decoration: none;
}
input[id="L_menuicon"]:checked + label + div + div{
	right:0;
	}

.top-panel{
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	background-color: white;
	font-size: large;
	text-align: center;
}
.bottom-panel{
	position:fixed;
	bottom:0;
	left: 0;
	width:100%;
	background-color: white;
	font-size: large;
	text-align: center;
}

#floating-panel {
position: absolute;
top: 10px;
left: 25%;
z-index: 5;
background-color: #fff;
padding: 5px;
border: 1px solid #999;
text-align: center;
font-family: "Roboto", "sans-serif";
line-height: 30px;
padding-left: 10px;
}
